<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.PetMapper">


	<resultMap id="PetResultMap" type="com.example.demo.entity.Pet">
		<id property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="status" column="status"/>
		<result property="categoryId" column="category_id"/>
	</resultMap>
	
	
	<select id="findById" resultType="com.example.demo.entity.Pet">
		SELECT * FROM pet WHERE id = #{id}
	</select>
	
	<select id="findPetAll" resultMap="PetResultMap">
		SELECT * FROM pet
	</select>
	
	<select id="findPetByStatus" resultMap="PetResultMap">
		SELECT * FROM pet WHERE status = #{status};
	</select>
	
	<select id="findPetByTag" resultMap="PetResultMap">
		SELECT DISTINCT p.*
		FROM pet p
		INNER JOIN pet_tag pt ON p.id = pt.pet_id
		INNER JOIN tag t ON pt.tag_id = t.id
		WHERE t.name LIKE CONCAT ('%', #{tag}, '%')
	</select>
	
	<select id="findCategoryByPetId" resultType="com.example.demo.entity.Category">
		SELECT c.id, c.name
		FROM pet p
		INNER JOIN category c ON p.category_id = c.id
		WHERE p.id = #{petId}
	</select>
	
	<select id="findPhotoUrlByPetId" resultType="com.example.demo.entity.PhotoUrl">
		SELECT id, pet_id, url FROM photo_url WHERE pet_id = #{petId}
	</select>
	
	<select id="findTagByPetId" resultType="com.example.demo.entity.Tag">
		SELECT t.id, t.name
		FROM pet_tag pt
		INNER JOIN tag t ON pt.tag_id = t.id
		WHERE pt.pet_id = #{petId}
	</select>
	
	
	<insert id="insertPet" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO pet(name, status, category_id) VALUES (#{pet.name}, #{pet.status}, #{pet.categoryId})
	</insert>
	
	<select id="selectCategoryByName" resultType="com.example.demo.entity.Category">
  		SELECT * FROM category WHERE name = #{name}
	</select>
	
	<insert id="insertCategory" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO category(name) VALUES (#{category.name})
	</insert>
	
	<insert id="insertPhotoUrl" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO photo_url(pet_id, url) VALUES (#{photoUrl.petId}, #{photoUrl.url})
	</insert>
	
	<select id="selectTagByName" resultType="com.example.demo.entity.Tag">
  		SELECT * FROM tag WHERE name = #{name}
	</select>

	<insert id="insertTag" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tag(name) VALUES (#{tag.name})
	</insert>
	
	<insert id="insertPetTag">
  		INSERT INTO pet_tag(pet_id, tag_id)
  		VALUES (#{petId}, #{tagId})
	</insert>
	
	
	<update id="updatePet">
		UPDATE pet
		SET name = #{pet.name},
			status = #{pet.status},
			category_id = #{pet.categoryId}
		WHERE id = #{pet.id}
	</update>
	
	
	<update id="updatePhotoUrl">
		UPDATE photo_url
		SET pet_id = #{photoUrl.petId},
			url = #{photoUrl.url}
		WHERE pet_id = #{photpUrl.petId}
	</update>
	
	
	<delete id="deletePet">
		DELETE FROM pet WHERE id = #{id}
	</delete>
	
	
	<delete id="deleteTag">
		DELETE FROM tag WHERE id = #{id}
	</delete>
	
	<delete id="deletePetTag">
		DELETE FROM pet_tag WHERE pet_id = #{id}
	</delete>
	
	<delete id="deletePhotoUrl">
		DELETE FROM photo_url WHERE pet_id = #{id}
	</delete>
	

</mapper>